<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwii.ico.dao.ProjectUserWalletRelationMapper">
  <resultMap id="BaseResultMap" type="com.tongwii.ico.model.ProjectUserWalletRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_wallet" jdbcType="INTEGER" property="userWallet" />
    <result column="project_wallet" jdbcType="INTEGER" property="projectWallet" />
    <result column="transaction_number" jdbcType="INTEGER" property="transactionNumber" />
  </resultMap>
</mapper>