<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwii.ico.dao.ProjectWalletMapper">
  <resultMap id="BaseResultMap" type="com.tongwii.ico.model.ProjectWallet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wallet_address" jdbcType="VARCHAR" property="walletAddress" />
    <result column="wallet_private_key" jdbcType="VARCHAR" property="walletPrivateKey" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="token_money_id" jdbcType="INTEGER" property="tokenMoneyId" />
    <result column="des" jdbcType="LONGVARCHAR" property="des" />
  </resultMap>
  <select id="selectProjectWalletByCiodId" resultMap="BaseResultMap" parameterType="com.tongwii.ico.model.ProjectWallet" >
    select * from project_wallet p where p.token_money_id=#{tokenMoneyId} and p.project_id = #{projectId};
  </select>
</mapper>