<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwii.ico.dao.ProjectWalletMapper">
  <resultMap id="BaseResultMap" type="com.tongwii.ico.model.ProjectWallet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wallet_address" jdbcType="VARCHAR" property="walletAddress" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="token_money_detail" jdbcType="INTEGER" property="tokenMoneyDetail" />
    <result column="des" jdbcType="LONGVARCHAR" property="des" />
  </resultMap>
</mapper>