<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwii.ico.dao.projectFileMapper">
  <resultMap id="BaseResultMap" type="com.tongwii.ico.model.projectFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_url" jdbcType="LONGVARCHAR" property="fileUrl" />
  </resultMap>
</mapper>