<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongwii.ico.dao.TokenMoneyMapper">
  <resultMap id="BaseResultMap" type="com.tongwii.ico.model.TokenMoney">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_en_short" jdbcType="VARCHAR" property="nameEnShort" />
    <result column="official_url" jdbcType="VARCHAR" property="officialUrl" />
    <result column="twitter_url" jdbcType="VARCHAR" property="twitterUrl" />
    <result column="github_url" jdbcType="VARCHAR" property="githubUrl" />
    <result column="des" jdbcType="LONGVARCHAR" property="des" />
  </resultMap>
</mapper>